
<!-- <div class="panel panel-primary">
  <% @symptoms.each do |symptom| %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= symptom.s_name  %></h3>
  </div>
    <% symptom.details.each do |detail| %>
      <div class="panel-body">
  		<%=link_to detail.detail_name , new_building_mainpart_material_symptom_detail_part_path(building_id: params[:building_id],
  		    mainpart_id: params[:mainpart_id],
  		    material_id: params[:material_id],
  		    symptom_id: symptom.id ,detail_id: detail.id) %>
          <%= detail.condition %>
          <%= detail.treatment %>
      </div>
      <% end %>
  <% end %>
</div> -->



<div class="panel panel-primary">
  <% @symptoms.each do |symptom| %>
  <div class="panel-heading">
    <h3 class="panel-title"><%= symptom.s_name  %></h3>
  </div>
    <% symptom.details.each do |detail| %>
      <div class="panel-body">

   <!--    <a class="btn btn-primary btn-lg" href="/buildings/#{params[:building_id]}/mainparts/#{params[:mainpart_id]}/materials/#{params[:material_id]}/symptoms/#{symptom.id}/details/#{detail.id}/parts/new" role="button"><%= symptom.s_name  %></a>
 -->

      <a class="btn btn-primary btn-lg" href="/buildings/<%= params[:building_id] %>/mainparts/<%= params[:building_id] %>/materials/<%= params[:material_id] %>/symptoms/<%= symptom.id %>/details/<%= detail.id %>/parts/new" role="button"><%= symptom.s_name  %></a>

      <%=link_to detail.detail_name , new_building_mainpart_material_symptom_detail_part_path(building_id: params[:building_id],
          mainpart_id: params[:building_id],
          material_id: params[:material_id],
          symptom_id: symptom.id ,detail_id: detail.id) %>
          <%= detail.condition %>
          <%= detail.treatment %>
      </div>
      <% end %>
  <% end %>
</div>

<%=  %>