<%= form_for @part, url: building_parts_path(building_id: params[:building_id], detail_id: params[:detail_id]) do |f| %>
<%= f.collection_radio_buttons(:detail_id, Detail.where(symptom_id: params[:symptom_id],mainpart_id: params[:mainpart_id],material_id: params[:material_id]), :id, :detail_name , include_hidden: false)do |b| %>
<div>
<%= b.label { b.radio_button + b.label} %>
<h style="color:red;">[現状]</h>
<%= b.object.condition %>
<h style="color:blue;"> [診断] </h>
<%= b.object.treatment %>
</div>
<%end%>


<%= f.submit '次へ進む', class: 'btn btn-primary' %>
<% end %>
