<div class="topicpath">
    <ol>
    	<li><a href="/">ホーム</a></li>
        <li><a href="/buildings/<%= params[:building_id] %>"><%= Building.find(params[:building_id]).building_name %></a></li>
        <li><a href="/buildings/<%= params[:building_id] %>/tops"><%= Top.find(params[:top_id]).maintitle %>（ <%= Mainpart.find(params[:mainpart_id]).mp_name %> ）</a></li>
    </ol>
</div>



<div>

	<%= form_for @part, url: building_parts_path(building_id: params[:building_id], detail_id: params[:detail_id]) do |f| %>
		<% Material.where(top_id: params[:top_id],mainpart_id: params[:mainpart_id]).each do |material|%>
			<div class="collection_radio_button">
				<div class="box-title"><%= material.mate_name %></div>
				<% material.symptoms.each do |symptom| %>
					<%= f.collection_radio_buttons(:detail_id, Detail.where(symptom_id: symptom.id ,material_id: material.id ,top_id: params[:top_id], mainpart_id: params[:mainpart_id]), :id, :detail_name , include_hidden: false) do |b| %>
						<div class="box-contents">
							<h3><%= b.label { b.radio_button + b.label } %></h3>
							<h style="color:red;">[現状]</h>
							<%= b.object.condition %>
							<h style="color:blue;"> [診断] </h>
							<%= b.object.treatment %>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<%= f.submit '次へ進む', class: 'btn btn-primary btn-lg btn-block' %>
	<% end %>
</div>

