<%= form_for @reform,url: building_reforms_path(building_id: params[:building_id]) do |f| %>


<div class="container">
<div class="col-md-12">
<div><%= f.label :場所 %></div>
<%= f.text_field :reform_part, placeholder: "  例）外壁" %>

<div><%= f.label :素材 %> </div>
<%= f.text_field :reform_material, placeholder: "  例） コンクリート" %>

<div><%= f.label :仕上げ材 %></div>
<%= f.text_field :reform_working_out, placeholder: "  例） タイル・塗料" %>


<%=f.submit '各部位の素材/仕上げ素材 登録', class: 'btn btn-primary btn-lg btn-block' %>

<%end%>
</div>
