<%= form_for @reform,url: building_reforms_path(building_id: params[:building_id]) do |f| %>
<table class="type10">
    <tbody>
	<tr>
        <th style="font-size: 25px"><%= f.label :場所 %></th>
        <td><%= f.text_field :reform_part, placeholder: "   物件名称", :size => "80%" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    <tr>
        <th style="font-size: 25px"><%= f.label :各部位の素材 %></th> 
        <td><%= f.text_field :reform_material, placeholder: "   所在地", :size => "80%" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    <tr>
        <th style="font-size: 25px"><%= f.label :仕上げ素材 %></th>
        <td><%= f.text_field :reform_working_out, placeholder: "   建物の年齢", :size => "30*60" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    </tbody>
</table>

<%=f.submit '次 へ', class: 'btn btn-primary btn-lg' %>
<% end %>
