<h2>資料一覧</h2>

<div class="container">
    <div class="row">
    	<% @buildings.each do |b| %>
        <!-- <div class="col-xs-3"> -->
        <div class="col-xs-4 col-md-3">
        <div class = 'building_document'>
		<%= link_to  building_path(b.id) do %>
			<%= b.building_name %>
			<div>
				<%= b.user.name %>さんの資料
		    </div>
	    <% end %>
		</div>
	    </div>
	    <% end %>
    </div>
</div>

<% if user_signed_in? %>
	<%= current_user.name %>さん ログイン
	<%= link_to "投稿", new_building_path, class: 'btn btn-primary' %>
	<%= link_to "ログアウト", destroy_user_session_path, class: 'btn btn-primary',method: :delete%>


<% else %>
	<%= link_to "ログインする", new_user_session_path, class: 'btn btn-primary', method: :post %>
	<%= link_to "新規登録する", new_user_registration_path, class: 'btn btn-primary', method: :get  %>
<% end %>


<div class="btn_new_b">
 <%= link_to "+", new_building_path %>
</div>