<div class="mainbox">
資料一覧
</div>
<div class="container">
<!-- <div class="col-md-12"> -->
	
	<% @buildings.each do |b| %>   
	<div class="col-md-3">
		<%= link_to  building_path(b.id) do %>  

			<div id="building">
				<div class="building_box box_detail">
					<div class="building_name"><%= b.building_name %>
					</div>
					<div class="user_name">
						<div><%= b.user.name %>さん</div>
					</div>
				</div>  
			</div>
		<% end %>
	</div>
	<% end %>
	
<!-- </div> -->
</div>

<% if user_signed_in? %>
	<%= current_user.name %>さん ログイン
	<%= link_to "投稿", new_building_path, class: 'btn btn-primary' %>
	<%= link_to "ログアウト", destroy_user_session_path, class: 'btn btn-primary',method: :delete%>


<% else %>
	<%= link_to "ログインする", new_user_session_path, class: 'btn btn-primary', method: :post %>
	<%= link_to "新規登録する", new_user_registration_path, class: 'btn btn-primary', method: :get  %>
<% end %>


<div class="btn_new_b">
 <%= link_to "+", new_building_path %>
</div>
</div>


