<%= form_for @building do |f| %>


<div class="container">
<div class="col-md-12">
<div><%= f.label :物件名 %></div>
<%= f.text_field :building_name, placeholder: "  例）サンヴァリエ日吉 4号棟", :size => "80%" %>

<div><%= f.label :所在地 %> </div>
<%= f.text_field :building_place, placeholder: "  例） 神奈川県横浜市港北区下田町４丁目" , :size => "80%" %>

<div><%= f.label :築年数 %></div>
<%= f.text_field :building_year, placeholder: "  例） 16年" %>

<div><%=  f.label :規模 %></div>
<%= f.text_field :building_scale, placeholder: "  例） 1棟 10階建て", :size => "30*60" %>

<div><%= f.label :物件種別 %></div>
<%= f.text_field :building_construction, placeholder: "  例） マンション", :size => "40%" %>
</div>

<%=f.submit '次 へ', class: 'btn btn-primary btn-lg btn-block' %>

<%end%>
</div>
