<%= form_for @building do |f| %>

<table class="type10">
    <tbody>
	<tr>
        <th style="font-size: 25px"><!-- <span style="font-size: 30px"> -->建物のお名前<!-- </span> -->
        </th>
        <td><%= f.text_field :building_name, placeholder: "   建物のお名前", :size => "80%" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    <tr>
        <th style="font-size: 25px"><%= f.label :所在地 %></th> 
        <td><%= f.text_field :building_place, placeholder: "   所在地", :size => "80%" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    <tr>
        <th style="font-size: 25px"><%= f.label :築年数 %></th>
        <td><%= f.text_field :building_year, placeholder: "   建物の年齢", :size => "30*60" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    <tr>
    	<th style="font-size: 25px"><%=  f.label :建物の大きさ %></th>
        <td><%= f.text_field :building_scale, placeholder: "   建物の大きさ", :size => "30*60" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    <tr>
        <th style="font-size: 25px"><%= f.label :建物の種類 %></th>
        <td><%= f.text_field :building_construction, placeholder: "   建物の種類", :size => "40%" %><span class="arrow_box">半角英数字で入力してください</span></td>
    </tr>
    </tbody>
</table>

<%=f.submit '次 へ', class: 'btn btn-primary btn-lg' %>

<%end%>

